@model Pe.ElectroPeru.SGI.Presentacion.Core.ViewModel.Seguridad.Modulo.ModuloModel
@using Pe.ElectroPeru.SGI.Presentacion.Core.Helpers
@using Pe.ElectroPeru.SGI.Presentacion.Recursos.Base
@using Pe.ElectroPeru.SGI.Presentacion.Recursos.Seguridad.Modulo

@using Pe.ElectroPeru.SGI.Transversal.Core.Constante
@using Pe.ElectroPeru.SGI.Presentacion.Core.ViewModel.Sistema;
@{
    var listTmp = (List<PermisosSistemaModel.PermisoControlador>)this.Session[Constantes.Sesion.Permisos.Lista_PermisosControlador];
    var permiso = listTmp.Where(x => x.Controlador == @ViewContext.RouteData.Values["controller"].ToString()).Select(s => s.CodigoAccion).ToList()[0];
}

<div class="modal-body">
    <form id="frmFormulario">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <label style="margin-top: 7px;">@Html.Raw(ModuloResource.EtiquetaSistema): (*)</label>
                    <div>
                        @Html.DropDownListFor(model => model.Modulo.CodigoSistema, Model.ListaSistema, new { id = "slcSistema", @class = "form-control", @validable = "required ValidarSistema" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <label style="position: relative; margin-top: 7px;">@Html.Raw(ModuloResource.EtiquetaNombre): (*)</label>
                    <div>
                        @Html.TextBox("txtNombre", Model.Modulo.Nombre, new { id = "txtNombre", @type = "text", @class = "form-control", @maxlength = "250", @validable = "required ValidarNombre" })
                    </div>
                </div>            
                <div class="col-sm-4">
                    <label style="position: relative; margin-top: 7px;">@Html.Raw(ModuloResource.EtiquetaDescripcion):</label>
                    <div>
                        @Html.TextBox("txtDescripcion", Model.Modulo.Descripcion, new { id = "txtDescripcion", @type = "text", @class = "form-control", @maxlength = "250"})
                    </div>
                </div>               
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label style="margin-top: 7px;">@Html.Raw(ModuloResource.EtiquetaModuloPadre): (*)</label>
                    <div>
                        @Html.DropDownListFor(model => model.Modulo.ModuloPadre, Model.ListaModuloPadre, new { id = "slcModuloPadre", @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <label style="position: relative; margin-top: 7px;">@Html.Raw(ModuloResource.EtiquetaGlyphicon): (*)</label>
                    <div>
                        @Html.TextBox("txtGlyphicon", Model.Modulo.Glyphicon, new { id = "txtGlyphicon", @type = "text", @class = "form-control", @maxlength = "100" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <label style="position: relative; margin-top: 7px;">@Html.Raw(ModuloResource.EtiquetaRutaImagen):</label>
                    <div>
                        @Html.TextBox("txtRutaImagen", Model.Modulo.RutaImagen, new { id = "txtRutaImagen", @type = "text", @class = "form-control", @maxlength = "250" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label style="margin-top: 7px;">@Html.Raw(ModuloResource.EtiquetaControlador): (*)</label>
                    <div>
                        @Html.TextBox("txtControlador", Model.Modulo.Controlador, new { id = "txtControlador", @type = "text", @class = "form-control", @maxlength = "250" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <label style="position: relative; margin-top: 7px;">@Html.Raw(ModuloResource.EtiquetaMetodo): (*)</label>
                    <div>
                        @Html.TextBox("txtMetodo", Model.Modulo.Metodo, new { id = "txtMetodo", @type = "text", @class = "form-control", @maxlength = "250" })
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="box-acciones-foot modal_box">
    <button class="btn btn-default" id="btnCancelar">@GenericoResource.BotonCancelar</button>
    <button class="btn btn-primary" id="btnGrabar">@GenericoResource.BotonGrabar</button>
</div>

<script type="text/javascript">
    ns('Pe.ElectroPeru.SGI.Presentacion.Seguridad.Modulo.Resources.Validacion')
    Pe.ElectroPeru.SGI.Presentacion.Seguridad.Modulo.Resources.Validacion.ValidarSistema = '@(Html.Raw(ModuloResource.EtiquetaSistema))';
    Pe.ElectroPeru.SGI.Presentacion.Seguridad.Modulo.Resources.Validacion.ValidarNombre = '@(Html.Raw(ModuloResource.EtiquetaNombre))';


    ns('Pe.ElectroPeru.SGI.Presentacion.Seguridad.Modulo.Models')
    Pe.ElectroPeru.SGI.Presentacion.Seguridad.Modulo.Models.Modulo = @(Html.Raw(Json.Encode(Model)))
</script>
@CustomHtmlHelper.RenderViewJs()