@using Pe.ElectroPeru.SGI.Presentacion.Recursos.Base
@using Pe.ElectroPeru.SGI.Presentacion.Recursos.Mantenimiento.ObjetivoEstrategicoEmpresa
@using Pe.ElectroPeru.SGI.Presentacion.Recursos.Mantenimiento.AccionEstrategicaInstitucional
@using Pe.ElectroPeru.SGI.Presentacion.Core.Helpers
@using Pe.ElectroPeru.SGI.Transversal.Core.Constante

<div class="modal-body">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12">                
                <h6><strong><label id="txtSeguimientoAEI" style="position: relative; margin-top: 7px;"></label></strong></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label style="position: relative; margin-top: 7px;"><b>@Html.Raw(OEEResource.EtiquetaObjetivoEstrategicoEmpresa):</b></label>
                <div>
                    <input id="txtNombreObjetivoEstrategicoEmpresa" style="background-color:yellow;color:blue" name="txtNombreObjetivoEstrategicoEmpresa" type="text" class="form-control" disabled="disabled">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @Html.Hidden("hdnCodigoObjetivoEstrategicoEmpresa")            
            @Html.Hidden("hdnCodigoAmbito")            
            <div class="table-grilla">                
                <div style="overflow-x: scroll;">
                    <div class="table-grilla">
                        <div id="divGrdResultAccionEstrategicaInstitucional">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        ns('Pe.ElectroPeru.SGI.Presentacion.Mantenimiento.BandejaAccionEstrategicaInstitucional.Resource')
        Pe.ElectroPeru.SGI.Presentacion.Mantenimiento.BandejaAccionEstrategicaInstitucional.Resource.GridNombreAccionEstrategicaInstitucional = '@Html.Raw(AEIResource.GridNombreAccionEstrategicaInstitucional)';
        Pe.ElectroPeru.SGI.Presentacion.Mantenimiento.BandejaAccionEstrategicaInstitucional.Resource.GridDescripcionAccionEstrategicaInstitucional = '@Html.Raw(AEIResource.GridDescripcionAccionEstrategicaInstitucional)';
        Pe.ElectroPeru.SGI.Presentacion.Mantenimiento.BandejaAccionEstrategicaInstitucional.Resource.GridAccionEstrategicaInstitucional = '@Html.Raw(AEIResource.GridAccionEstrategicaInstitucional)';
        Pe.ElectroPeru.SGI.Presentacion.Mantenimiento.BandejaAccionEstrategicaInstitucional.Resource.GridResponsable = '@Html.Raw(AEIResource.GridResponsable)';
        Pe.ElectroPeru.SGI.Presentacion.Mantenimiento.BandejaAccionEstrategicaInstitucional.Resource.GridEstado = '@Html.Raw(AEIResource.GridEstado)';                        
    </script>
}