@model Pe.ElectroPeru.SGI.Presentacion.Core.ViewModel.Seguridad.Usuarios.UsuariosModel
@using Pe.ElectroPeru.SGI.Presentacion.Core.Helpers
@using Pe.ElectroPeru.SGI.Presentacion.Recursos.Base
@using Pe.ElectroPeru.SGI.Presentacion.Recursos.Seguridad.Usuarios

@using Pe.ElectroPeru.SGI.Transversal.Core.Constante
@using Pe.ElectroPeru.SGI.Presentacion.Core.ViewModel.Sistema;
@{
    var listTmp = (List<PermisosSistemaModel.PermisoControlador>)this.Session[Constantes.Sesion.Permisos.Lista_PermisosControlador];
    var permiso = listTmp.Where(x => x.Controlador == @ViewContext.RouteData.Values["controller"].ToString()).Select(s => s.CodigoAccion).ToList()[0];
}

<div class="modal-body">
    <form id="frmFormulario">
        <div class="form-group">
            <div class="row">                
                <div class="col-sm-4">
                    <label style="position: relative; margin-top: 7px;">@Html.Raw(UsuariosResource.EtiquetaNombre): (*)</label>
                    <div>
                        @Html.TextBox("txtNombre", Model.Usuarios.Nombre, new { id = "txtNombre", @type = "text", @class = "form-control", @maxlength = "250", @validable = "required ValidarNombre" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <label style="position: relative; margin-top: 7px;">@Html.Raw(UsuariosResource.EtiquetaApellido): (*)</label>
                    <div>
                        @Html.TextBox("txtApellido", Model.Usuarios.Apellido, new { id = "txtApellido", @type = "text", @class = "form-control", @maxlength = "250", @validable = "required ValidarApellido" })
                    </div>
                </div> 
                <div class="col-sm-4">
                    <label style="position: relative; margin-top: 7px;">@Html.Raw(UsuariosResource.EtiquetaEMail):</label>
                    <div>
                        @Html.TextBox("txtEMail", Model.Usuarios.EMail, new { id = "txtEMail", @type = "text", @class = "form-control", @maxlength = "250" })
                    </div>
                </div>                  
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label style="margin-top: 7px;">@Html.Raw(UsuariosResource.EtiquetaTipoDocumento): (*)</label>
                    <div>
                        @Html.DropDownListFor(model => model.Usuarios.TipoDocumentoIdentidad, Model.ListaTipoDocumentoIdentidad, new { id = "slcTipoDocumento", @class = "form-control", @validable = "required ValidarTipoDocumento" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <label style="position: relative; margin-top: 7px;">@Html.Raw(UsuariosResource.EtiquetaNumeroDocumento): (*)</label>
                    <div>
                        @Html.TextBox("txtNumeroDocumento", Model.Usuarios.NumDocumentoIdentidad, new { id = "txtNumeroDocumento", @type = "text", @class = "form-control", @maxlength = "20", @validable = "required ValidarNumeroDocumento" })
                    </div>
                </div> 
                <div class="col-sm-4">
                    <label style="margin-top: 7px;">@Html.Raw(UsuariosResource.EtiquetaCargo): (*)</label>
                    <div>
                        @Html.DropDownListFor(model => model.Usuarios.CodigoCargo, Model.ListaCargo, new { id = "slcCargo", @class = "form-control", @validable = "required ValidarCargo" })
                    </div>
                </div>                          
            </div>
            
            <div class="row">
                <div class="col-sm-4">
                    <label style="position: relative; margin-top: 7px;">@Html.Raw(UsuariosResource.EtiquetaUsuario): (*)</label>
                    <div>
                        @Html.TextBox("txtUsuario", Model.Usuarios.Usuario, new { id = "txtUsuario", @type = "text", @class = "form-control", @maxlength = "30", @validable = "required ValidarUsuario" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <label style="margin-top: 7px;">@Html.Raw(UsuariosResource.EtiquetaReestablecerContrasena):</label>
                    <div>
                        @Html.CheckBoxFor(model => model.Usuarios.ReestablecerContrasena, new { id = "chbReestablecerContrasena", @class = "form-check-input" })
                    </div>
                </div>      
            </div>
                    
        </div>
    </form>
</div>

<div class="box-acciones-foot modal_box">
    <button class="btn btn-default" id="btnCancelar">@GenericoResource.BotonCancelar</button>
    <button class="btn btn-primary" id="btnGrabar">@GenericoResource.BotonGrabar</button>
</div>

<script type="text/javascript">
    ns('Pe.ElectroPeru.SGI.Presentacion.Seguridad.Usuarios.Resources.Validacion')
    Pe.ElectroPeru.SGI.Presentacion.Seguridad.Usuarios.Resources.Validacion.ValidarNombre = '@(Html.Raw(UsuariosResource.EtiquetaNombre))';
    Pe.ElectroPeru.SGI.Presentacion.Seguridad.Usuarios.Resources.Validacion.ValidarApellido = '@(Html.Raw(UsuariosResource.EtiquetaApellido))';
    Pe.ElectroPeru.SGI.Presentacion.Seguridad.Usuarios.Resources.Validacion.ValidarTipoDocumento = '@(Html.Raw(UsuariosResource.EtiquetaTipoDocumento))';
    Pe.ElectroPeru.SGI.Presentacion.Seguridad.Usuarios.Resources.Validacion.ValidarNumeroDocumento = '@(Html.Raw(UsuariosResource.EtiquetaNumeroDocumento))';
    Pe.ElectroPeru.SGI.Presentacion.Seguridad.Usuarios.Resources.Validacion.ValidarCargo = '@(Html.Raw(UsuariosResource.EtiquetaCargo))';
    Pe.ElectroPeru.SGI.Presentacion.Seguridad.Usuarios.Resources.Validacion.ValidarUsuario = '@(Html.Raw(UsuariosResource.EtiquetaUsuario))';
    Pe.ElectroPeru.SGI.Presentacion.Seguridad.Usuarios.Resources.Validacion.ValidarContrasenia = '@(Html.Raw(UsuariosResource.EtiquetaContrasenia))';

    ns('Pe.ElectroPeru.SGI.Presentacion.Seguridad.Usuarios.Models')
    Pe.ElectroPeru.SGI.Presentacion.Seguridad.Usuarios.Models.Usuarios = @(Html.Raw(Json.Encode(Model)))
</script>
@CustomHtmlHelper.RenderViewJs()