@using Pe.ElectroPeru.SGI.Presentacion.Recursos.Base
@using Pe.ElectroPeru.SGI.Presentacion.Recursos.Seguridad.Accion
@using Pe.ElectroPeru.SGI.Presentacion.Core.Helpers
@model Pe.ElectroPeru.SGI.Presentacion.Core.ViewModel.Seguridad.Accion.AccionModel

@using Pe.ElectroPeru.SGI.Transversal.Core.Constante
@using Pe.ElectroPeru.SGI.Presentacion.Core.ViewModel.Sistema;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listTmp = (List<PermisosSistemaModel.PermisoControlador>)this.Session[Constantes.Sesion.Permisos.Lista_PermisosControlador];
    var permiso = listTmp.Where(x => x.Controlador == @ViewContext.RouteData.Values["controller"].ToString()).Select(s => s.CodigoAccion).ToList()[0];
}

<div class="main-content view-wrap">
    <div class="GmdBody-header main-title">
        <h2 class="pull-left">
            <strong>@Html.Raw(AccionResource.EtiquetaTituloPrincipal)</strong>
        </h2>
        <div class="pull-right">
            <div class="acciones-form btn-group btn-group-table" style="top: 10px">
                <button id="btnRegistrar" type="button" class="btn-table text-line one">
                    @Html.Raw(AccionResource.EtiquetaBotonRegistrar)
                </button>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="title-interna">
            <span>@Html.Raw(AccionResource.EtiquetaLista)</span>
        </div>
        <div class="table-grilla">
            <div id="divGrdResult">
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        ns('Pe.ElectroPeru.SGI.Presentacion.Seguridad.Accion.Actions')
        Pe.ElectroPeru.SGI.Presentacion.Seguridad.Accion.Actions.Buscar = '@Url.Action("Buscar", "Accion", new { Area = "Seguridad" })';
        Pe.ElectroPeru.SGI.Presentacion.Seguridad.Accion.Actions.Formulario = '@Url.Action("Formulario", "Accion", new { Area = "Seguridad" })';
        Pe.ElectroPeru.SGI.Presentacion.Seguridad.Accion.Actions.Obtener = '@Url.Action("Obtener", "Accion", new { Area = "Seguridad" })';
        Pe.ElectroPeru.SGI.Presentacion.Seguridad.Accion.Actions.Registrar = '@Url.Action("Registrar", "Accion", new { Area = "Seguridad" })';
        Pe.ElectroPeru.SGI.Presentacion.Seguridad.Accion.Actions.Eliminar = '@Url.Action("Eliminar", "Accion", new { Area = "Seguridad" })';

        ns('Pe.ElectroPeru.SGI.Presentacion.Seguridad.Accion.Resources')
        Pe.ElectroPeru.SGI.Presentacion.Seguridad.Accion.Resources.GridNombre = '@Html.Raw(AccionResource.GridNombre)';
        Pe.ElectroPeru.SGI.Presentacion.Seguridad.Accion.Resources.GridDescripcion = '@Html.Raw(AccionResource.GridDescripcion)';
        Pe.ElectroPeru.SGI.Presentacion.Seguridad.Accion.Resources.GridEstado = '@Html.Raw(AccionResource.GridEstado)';
        Pe.ElectroPeru.SGI.Presentacion.Seguridad.Accion.Resources.GridAcciones = '@Html.Raw(GenericoResource.GridAcciones)';

        Pe.ElectroPeru.SGI.Presentacion.Seguridad.Accion.Resources.EtiquetaMensajeEliminar = '@Html.Raw(AccionResource.EtiquetaMensajeEliminar)';

        ns('Pe.ElectroPeru.SGI.Presentacion.Seguridad.Accion.Models');
        Pe.ElectroPeru.SGI.Presentacion.Seguridad.Accion.Models.Accion = '@(Html.Raw(Json.Encode(Model)))';

    </script>
    <style type="text/css">
        form-control {
            width: 100%;
        }
    </style>
    @CustomHtmlHelper.RenderViewJs("seguridadaccionformulario")
}
