@using Pe.ElectroPeru.SGI.Presentacion.Recursos.Base
@using Pe.ElectroPeru.SGI.Presentacion.Recursos.Mantenimiento.ObjetivoEstrategicoSectorial
@using Pe.ElectroPeru.SGI.Presentacion.Core.Helpers
@using Pe.ElectroPeru.SGI.Transversal.Core.Constante

@model Pe.ElectroPeru.SGI.Presentacion.Core.ViewModel.Mantenimiento.IngresoObjetivoEstrategicoSectorial.IngresoObjetivoEstrategicoSectorialModel
@using Pe.ElectroPeru.SGI.Presentacion.Core.ViewModel.Sistema;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listTmp = (List<PermisosSistemaModel.PermisoControlador>)this.Session[Constantes.Sesion.Permisos.Lista_PermisosControlador];
    var permiso = listTmp.Where(x => x.Controlador == @ViewContext.RouteData.Values["controller"].ToString()).Select(s => s.CodigoAccion).ToList()[0];
}

<div class="main-content view-wrap">
    <div class="GmdBody-header main-title">
        <h2 class="pull-left tituloCapacitacion" style="width: auto"><strong>@Html.Raw(OESResource.EtiquetaTituloObjetivoEstrategicoSectorial)</strong></h2>

        <div class="pull-right">
            <a id="btnRegresarBandejaObjetivoEstrategicoSectorial" class="btn nav_ajx btn-action-form tool pull-left">
                <span data-toggle="tooltip" data-placement="left" title="">
                    <i class="listado_record"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="tab_custom">
        <div class="content-body" style="min-height: 650px;">
            <div class="left-tabs">
                <ul class="nav nav-tabs" role="tablist" id="cartTabsObjetivoEstrategicoSectorial">
                    <li role="presentation" class="active">
                        <a href="#tabGenerales" class="top-tab" aria-controls="tabGenerales" role="tab" data-toggle="tab"><i class="fa fa-fn"></i>@Html.Raw(OESResource.EtiquetaTabGenerales)</a>
                    </li>
                    <li role="presentation">
                        <a href="#tabObjetivoEstrategicoSectorialDetalle" class="top-tab" aria-controls="tabObjetivoEstrategicoSectorialDetalle" role="tab" data-toggle="tab"><i class="fa fa-fn"></i>@Html.Raw(OESResource.EtiquetaTabObjetivoEstrategicoSectorialDetalle)</a>
                    </li>
                </ul>
            </div>
            <div class="right-tabs">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tabGenerales">
                        <form onsubmit="return false;" id="frmGenerales">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label style="position: relative; margin-top: 7px;">@Html.Raw(OESResource.EtiquetaNombreObjetivoEstrategicoSectorial): (*)</label>
                                        <div>
                                            @Html.TextBox("txtNombreObjetivoEstrategicoSectorialFormulario", Model.ObjetivoEstrategicoSectorial.NombreObjetivoEstrategicoSectorial, new { id = "txtNombreObjetivoEstrategicoSectorialFormulario", @type = "text", @class = "form-control", @maxlength = "255", @validable = "required ValidarNombreObjetivoEstrategicoSectorial" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label style="position: relative; margin-top: 7px;">@Html.Raw(OESResource.EtiquetaDescripcionObjetivoEstrategicoSectorial):</label>
                                        <div>
                                            @Html.TextBox("txtDescripcionObjetivoEstrategicoSectorialFormulario", Model.ObjetivoEstrategicoSectorial.DescripcionObjetivoEstrategicoSectorial, new { id = "txtDescripcionObjetivoEstrategicoSectorialFormulario", @type = "text", @class = "form-control", @maxlength = "255", @validable = "required ValidarDescripcionObjetivoEstrategicoSectorial" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">                                    
                                    <div class="col-sm-6">
                                        <label style="margin-top: 7px;">@Html.Raw(OESResource.EtiquetaResponsable): (*)</label>
                                        <div>
                                            <div class="input-group">
                                                @Html.Hidden("hdnCodigoResponsable", Model.ObjetivoEstrategicoSectorial.CodigoResponsable, new { ïd = "hdnCodigoResponsable", @validable = "required ValidarResponsable" })
                                                @Html.TextBox("txtCodigoResponsable", Model.ObjetivoEstrategicoSectorial.NombreCompletoResponsable, new { id = "txtCodigoResponsable", @class = "form-control", @disabled = "disabled", @validable = "required ValidarResponsable" })
                                                <div class="input-group-addon">
                                                    <button class="btn-form" id="btnBuscarResponsable" type="button">....</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>                                
                            </div>
                        </form>
                        <div id="divBotonAccion1" class="box-acciones-foot filter">
                            @*<button class="btn btn-default" id="btnEliminar">@Html.Raw(OESResource.EtiquetaBotonEliminar)</button>*@
                            <button class="btn btn-primary" id="btnGuardarGenerales"  style = "cursor:pointer; @(permiso == (int)Constantes.Permisos.Codigo.Nuevo || permiso == (int)Constantes.Permisos.Codigo.Escritura || permiso == (int)Constantes.Permisos.Codigo.ControlTotal ? Constantes.Permisos.Style.Activo : Constantes.Permisos.Style.Desactivo)">@Html.Raw(OESResource.EtiquetaBotonGuardar)</button>
                        </div>
                    </div>

                    <div class="tab-pane fade in" id="tabObjetivoEstrategicoSectorialDetalle">
                        <form onsubmit="return false;" id="frmObjetivoEstrategicoSectorialDetalle">
                            <div class="title-interna">
                                <span>@Html.Raw(OESResource.EtiquetaTabObjetivoEstrategicoSectorialDetalle)</span>
                            </div>
                            <div id="divControlesVD" class="form-group hidden">                                 
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label style="position: relative; margin-top: 7px;">@Html.Raw(OESResource.EtiquetaAccionEstrategicaSectorial):</label>
                                        <div>
                                            @Html.DropDownListFor(model => model.ObjetivoEstrategicoSectorialDetalle.CodigoAccionEstrategicaSectorial, Model.ListaAccionEstrategicaSectorial, new { id = "slcAccionEstrategicaSectorial", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div id="divBotonObjetivoEstrategicoSectorialDetalle" class="box-acciones-foot filter hidden">
                            <button class="btn btn-primary" id="btnGuardarObjetivoEstrategicoSectorialDetalle">@Html.Raw(OESResource.EtiquetaBotonGuardar)</button>
                        </div>
                        <div class="title-interna">
                            <span>@Html.Raw(OESResource.EtiquetaLista)</span>
                        </div>
                        <div class="table-grilla">
                            <div id="divGrdObjetivoEstrategicoSectorialDetalle">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        ns('Pe.ElectroPeru.SGI.Presentacion.Mantenimiento.IngresoObjetivoEstrategicoSectorial.Actions')
        Pe.ElectroPeru.SGI.Presentacion.Mantenimiento.IngresoObjetivoEstrategicoSectorial.Actions.BandejaObjetivoEstrategicoSectorial = '@Url.Action("Index", "BandejaObjetivoEstrategicoSectorial", new { Area = "Mantenimiento" })';        
        Pe.ElectroPeru.SGI.Presentacion.Mantenimiento.IngresoObjetivoEstrategicoSectorial.Actions.EliminarObjetivoEstrategicoSectorialDetalle = '@Url.Action("EliminarObjetivoEstrategicoSectorialDetalle", "IngresoObjetivoEstrategicoSectorial", new { Area = "Mantenimiento" })';
        Pe.ElectroPeru.SGI.Presentacion.Mantenimiento.IngresoObjetivoEstrategicoSectorial.Actions.RegistrarObjetivoEstrategicoSectorial = '@Url.Action("RegistrarObjetivoEstrategicoSectorial", "IngresoObjetivoEstrategicoSectorial", new { Area = "Mantenimiento" })';
        Pe.ElectroPeru.SGI.Presentacion.Mantenimiento.IngresoObjetivoEstrategicoSectorial.Actions.RegistrarObjetivoEstrategicoSectorialDetalle = '@Url.Action("RegistrarObjetivoEstrategicoSectorialDetalle", "IngresoObjetivoEstrategicoSectorial", new { Area = "Mantenimiento" })';
        Pe.ElectroPeru.SGI.Presentacion.Mantenimiento.IngresoObjetivoEstrategicoSectorial.Actions.BuscarObjetivoEstrategicoSectorialDetalle = '@Url.Action("BuscarObjetivoEstrategicoSectorialDetalle", "IngresoObjetivoEstrategicoSectorial", new { Area = "Mantenimiento" })';


        ns('Pe.ElectroPeru.SGI.Presentacion.Mantenimiento.IngresoObjetivoEstrategicoSectorial.Models')
        Pe.ElectroPeru.SGI.Presentacion.Mantenimiento.IngresoObjetivoEstrategicoSectorial.Models.Formulario = @(Html.Raw(Json.Encode(Model)))

        ns('Pe.ElectroPeru.SGI.Presentacion.Mantenimiento.IngresoObjetivoEstrategicoSectorial.Resource')
        Pe.ElectroPeru.SGI.Presentacion.Mantenimiento.IngresoObjetivoEstrategicoSectorial.Resource.EtiquetaMensajeAnular = '@Html.Raw(OESResource.EtiquetaMensajeEliminar)';        
        Pe.ElectroPeru.SGI.Presentacion.Mantenimiento.IngresoObjetivoEstrategicoSectorial.Resource.GridResponsable = '@Html.Raw(OESResource.GridResponsable)';        
        Pe.ElectroPeru.SGI.Presentacion.Mantenimiento.IngresoObjetivoEstrategicoSectorial.Resource.GridAccionEstrategicaSectorial = '@Html.Raw(OESResource.GridAccionEstrategicaSectorial)';        
    </script>
    <style type="text/css">
        .skin-stracon .table-grilla {
            overflow-y: auto !important;
        }
        /*.skin-stracon .form-control {
        width: 100px !important;
    }*/
    </style>
    @CustomHtmlHelper.RenderViewJs("mantenimientoresponsableformulariobuscarresponsable");
    }
