@using Pe.ElectroPeru.SGI.Presentacion.Recursos.Base;
@using Pe.ElectroPeru.SGI.Presentacion.Core.Helpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";   
    Styles.Render("~/Scripts/Base/owl-carousel/owl.theme.css");
}
<div class="GmdBody-header">
    <h2>@PrincipalResource.EtiquetaTitulo</h2>
</div>
<div class="GmdBody-body">
    <div class="view-home view-homeSGT">
        @*<div class="bs-callout bs-callout-danger">           
        </div>*@
        <div class="wrap-images">
            <div class="list">
                <h1>@PrincipalResource.EtiquetaSuptitulo</h1>
                <ul>
                    <li><i class="fa fa-check"></i>@PrincipalResource.EtiquetaConfiguracion</li>
                    <li><i class="fa fa-check"></i>@PrincipalResource.EtiquetaNotificacionesAutomaticas</li>
                </ul>
                <ul>
                    <li><i class="fa fa-check"></i>@PrincipalResource.EtiquetaGestion</li>
                    <li><i class="fa fa-check"></i>@PrincipalResource.EtiquetaReportes</li>
                </ul>
            </div>
            <div class="box">
                <div>
                    <div class="item">
                        <img src="~/Theme/images/Seguridad.jpg" /></div>
                    <div class="item">
                        <img class="image-two" src="~/Theme/images/Variable.jpg" /></div>
                    <div class="item">
                        <img src="~/Theme/images/PE.jpg" />
                    </div>
                    <div class="item">
                        <img src="~/Theme/images/Dashboard.jpg" /></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/Scripts/Base/owl-carousel/owl.carousel.min.js")   
}

